body {
    margin: 0;
}

#BG_image {
    margin: auto; 
    width: 100%;
}

.navigation ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FED777;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 5px solid #342809;
}

.navigration li {
    float: left;
}

.navigation li a {
    display: block;
    color: #342809;
    text-align: center;
    padding: 24px 50px;
    text-decoration: none;
}

.navigation a.active {
    background-color: #A77802;
}

.content {
    margin-top: 100px;
    left: auto;
    right: auto;
}

